NEXT_PUBLIC_SITE_URL=https://www.pro-term.ro
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# FAN Courier API
FAN_COURIER_USERNAME=
FAN_COURIER_PASSWORD=
FAN_COURIER_CLIENT_ID=

# Sameday Courier API
SAMEDAY_USERNAME=
SAMEDAY_PASSWORD=
